<br /><%= @total_players %> players were logged.

<ul>
<% @summarized_checkpoints.each do |summarized_checkpoint| %>
<li><a href="/20110618-sf/cpm/checkpoints/<%= summarized_checkpoint.checkpoint.checkpoint_id %>"><%= 
summarized_checkpoint.checkpoint.checkpoint_name %></a>: <%= summarized_checkpoint.num_checked_in %> checked in, last 
at <%= summarized_checkpoint.last_checkin_time %></li>
<% end %>
</ul>

<br />
<h2>Activity at each checkpoint over time</h2>
<%= @line_plot.html_safe %>

<br />
<h2>Distribution of runners, by furthest checkpoint reached, over time</h2>
<%= @status_plot.html_safe %>

