<ol>Leading runners:

<% @ordered_runners.each do |runner| %>
  <li>
  <%= runner.is_mugshot == 1 ? "<img src='/runner_photos/#{runner.runner_id}.jpg' />".html_safe : "" %>
  <%= "<a href='/cpm/runners/#{runner.runner_id}'>#{runner.runner_id}: #{runner.player_name}</a>: ".html_safe %>
  <%= "hit #{runner.current_checkin.checkpoint.checkpoint_name} at #{runner.current_checkin.checkin_time}" %>
  </li>
<% end %>

</ol>

<br />

<ol>Leading chasers:

<% @ordered_chasers.each do |runner| %>
  <li>
  <%= runner.is_mugshot == 1 ? "<img src='/runner_photos/#{runner.runner_id}.jpg' />".html_safe : "" %>
  <%= "<a href='/cpm/runners/#{runner.runner_id}'>#{runner.runner_id}: #{runner.player_name}</a>: ".html_safe %>
  <%= "tagged #{runner.tags.size} runners" %>
  </li>
<% end %>

</ol>

