<ol>Runners:

<% @ordered_runners.each do |runner| %>
  <li>
  <%= runner.img_link.html_safe %>
  <%= "<a href='/20110618-sf/cpm/runners/#{runner.runner_id}'>#{runner.runner_id}</a> #{runner.player_name}".html_safe %>
  </li>
<% end %>

</ol>

<br />

<div class="runnerlist"><ol>Chasers:

<% @ordered_chasers.each do |runner| %>
  <li>
  <%= runner.img_link.html_safe %>
  <%= "<a href='/20110618-sf/cpm/runners/#{runner.runner_id}'>#{runner.runner_id}</a> #{runner.player_name}: ".html_safe %>
  <%= "tagged #{runner.tags.size} runners" %>
  </li>
<% end %>

</ol></div>
