<table>
<tr>
<td> <img src="<%= @runner.icon %>" /> </td>
<td><h1><%= @runner.runner_id %></h1> <%= @runner.player_name ? @runner.player_name : "" %></td>
</tr>
</table>

<% if (@is_chaser) %>
  <br /><img src='/20110618-sf/photos/smallchaser.png' />As a chaser, logged <%= @num_caught %> tags -- <%= @num_with_more_catches %> chasers logged more, out of <%= @num_chasers %> chasers logging tags.
  <% if (@num_caught > 0) %>
    <br />Chaser descendants:
    <%= @chaser_tree.html_safe %>
  <% end %>
<% else %>
  <!-- <br />Not caught yet! -->
<% end %>

<br /><img src='/20110618-sf/photos/smallrunner.png' />
<% if (@place.present?) %>
Placed <%= @place.ordinalize %>, out of <%= @num_runners %> runners.
<% end %>

<% @your_place_by_checkin.each do |row| %>
<br />As a runner, made it to <%= row[0].checkpoint.checkpoint_name %> at <%= row[0].checkin_time %> (<%= 
row[1].ordinalize %> to reach that checkpoint, <%= 
row[2].ordinalize %> in the game at that point).
<% end %>

<p />
<%= @map_html.html_safe %>
